i{
    margin-right: 2em;
    margin-left: 2m;
    color: blueviolet;
}
header{
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    margin-left: 2em;
}
body nav,ul{
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    list-style: none;
}
.contenedor1{
    margin-right: 6em;
}
 .flex{
     text-decoration: none;
 }
 h1{
     font-family: arial;
     font-size: 2em;
 }
 section{
     margin-right: 2em;
     margin-left: 2em;
 }
 button{
    color:#5c6d7e;
    border: none;
    background: none;
    border: 2px solid #1e73c9;
    border-radius: 3px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;   
    padding-right: 10%;
     
 }
 button:hover{
     background-color: #5c6d7e;
     color: white;
 }
 p{
     text-align: justify;
     font-family: arial;
     line-height: 30px;
 }
 .flex{ 
     display: flex;
     border-top: 5px solid saddlebrown;
 }

 img{
     border-radius: 10px;
     margin-top: 2em;
 }
 .contenedor1{
    padding: 1em;
 }
li{
    list-style: none;
}
.far.fa-gem{
    font-size: 1000px;
}
.linea{
    height: 5px;
    width:300px;
    background-color: saddlebrown;
}
.gridy{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.aux{
    display: grid;
    grid-template-columns: 20% 70%;
}
.icono{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono i{
    font-size: 60px;
    padding-left: 150px;
}